In [83]:
import googlemaps
from pymongo import MongoClient
from datetime import datetime
import os
import requests
import json
import time
import pandas as pd
import folium
from dotenv import load_dotenv
load_dotenv()
from src import API as ap
from src import clean_jsonAPI as ca
from src import dictionary as d
from src import Mongo_connection as mc

STARBUCKS

In [84]:
starbucks = d.dicti('starbucks')

In [85]:
len(starbucks)

169

In [61]:
db, col = mc.connectCollection('datlab','companies')

In [62]:
col1 = db["starbucks"]
col1.insert_many(starbucks)

#elementary schools

In [63]:
schools = d.dicti('elementary schools')

In [64]:
len(schools)

134

In [65]:
col2 = db["schools"]
col2.insert_many(schools)

NIGHTCLUBS

In [66]:
night_clubs = d.dicti('nightclubs')

In [67]:
len(night_clubs)

105

In [68]:
col3 = db["nightclubs"]
col3.insert_many(night_clubs)

AIRPORTS

In [69]:
airports = d.dicti('airports')

In [70]:
len(airports)

59

In [71]:
col4 = db["airports"]
col4.insert_many(airports)

VEGAN RESTAURANTS

In [72]:
vegan = d.dicti('vegan restaurants')

In [73]:
len(vegan)

65

In [79]:
col5 = db["vegan_restaurants"]
col5.insert_many(vegan)

KINDERGARTEN

In [76]:
kinder = d.dicti('kindergarten')

In [77]:
len(kinder)

74

In [78]:
kinder1 = db["kindergarten"]
kinder1.insert_many(kinder)