In [1]:
import googlemaps
from pymongo import MongoClient
from datetime import datetime
import os
import requests
import json
import time
import pandas as pd
import folium
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
def searchPlaces(query, location):
    API_key = os.getenv('key')
    endpoint_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    places = []
    params = {
        'query': query,
        'location': location,
        'radius': 0.25,
        'key': API_key
    }
    res = requests.get(endpoint_url, params = params)
    results =  json.loads(res.content)
    places.extend(results['results'])
    time.sleep(2)
    while "next_page_token" in results:
        params['pagetoken'] = results['next_page_token'],
        res = requests.get(endpoint_url, params = params)
        results = json.loads(res.content)
        places.extend(results['results'])
        time.sleep(2)
    return places

In [3]:
def getLocation(result):
    location = []
    for i in range(len(result)):
        latitude = result[i]['geometry']['location']['lat']
        longitude = result[i]['geometry']['location']['lng']
        name = result[i]['name']
        address = result[i]['formatted_address']
        loc = {
            'name': name,
            'address': address,
            'location':{
                'type':'Point',
                'coordinates':[longitude,latitude]
            }
        }
        location.append(loc)
    return location

In [57]:
def dicti(query):
    dicts = []
    dict1 = getLocation(searchPlaces(query,'47.6024156,-122.3326145'))
    dict2 = getLocation(searchPlaces(query,'47.6103008,-122.3399782'))
    dict3 = getLocation(searchPlaces(query,'47.603364,-122.333359'))
    dict4 = getLocation(searchPlaces(query,'47.676762,-122.2049192'))
    dict5 = getLocation(searchPlaces(query,'47.627368,-122.34229'))
    dict6 = getLocation(searchPlaces(query,'47.693994,-122.349701'))
    dict7 = getLocation(searchPlaces(query,'47.715013,-122.320283'))
    result = [dict1,dict2,dict3,dict4,dict5,dict6,dict7]
    for lista in result:
        for i in range(len(lista)):
            if lista[i] not in dicts:
                dicts.append(lista[i])
    return dicts

STARBUCKS

In [58]:
starbucks = dicti('starbucks')

In [59]:
len(starbucks)

166

In [60]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [61]:
db, col = connectCollection('datlab','companies')

In [62]:
col1 = db["starbucks"]
col1.insert_many(starbucks)

#elementary schools

In [63]:
schools = dicti('elementary schools')

In [64]:
len(schools)

134

In [65]:
col2 = db["schools"]
col2.insert_many(schools)

NIGHTCLUBS

In [66]:
night_clubs = dicti('nightclubs')

In [67]:
len(night_clubs)

105

In [68]:
col3 = db["nightclubs"]
col3.insert_many(night_clubs)

AIRPORTS

In [69]:
airports = dicti('airports')

In [70]:
len(airports)

59

In [71]:
col4 = db["airports"]
col4.insert_many(airports)

VEGAN RESTAURANTS

In [72]:
vegan = dicti('vegan restaurants')

In [73]:
len(vegan)

65

In [79]:
col5 = db["vegan_restaurants"]
col5.insert_many(vegan)

KINDERGARTEN

In [76]:
kinder = dicti('kindergarten')

In [77]:
len(kinder)

74

In [78]:
kinder1 = db["kindergarten"]
kinder1.insert_many(kinder)