In [101]:
from pymongo import MongoClient
import folium
import pandas as pd

In [102]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [103]:
db, coll = connectCollection('datlab','companies')

In [127]:
pipeline = [{'$unwind':'$offices'},
        {'$match':{'$and':[{"offices.country_code":'USA'},{"funding_rounds.raised_amount":{'$gte':1000000}},{'deadpooled_year':None},{'founded_year':{'$gte': 2008}}]}}]
query = list(coll.aggregate(pipeline))

In [129]:
df = pd.DataFrame(query)

In [131]:
data = df['offices']

In [132]:
latitude = []

for key,value in data.items():
    latitude.append(value['latitude'])

In [134]:
longitude = []

for key, value in data.items():
    longitude.append(value['longitude'])

361

In [106]:
coleliminar = ['permalink','crunchbase_url','created_at','products','funding_rounds','acquisition','acquisitions','homepage_url','blog_url', 'blog_feed_url','twitter_username','video_embeds','screenshots','external_links','partners','founded_month','founded_day','deadpooled_year','deadpooled_month','deadpooled_day','competitions','providerships','investments', 'milestones','ipo','deadpooled_url','tag_list','alias_list','email_address','phone_number','updated_at','image','overview','relationships', 'location']
df = df.drop(coleliminar, axis=1)

In [125]:
df

,_id,name,category_code,number_of_employees,founded_year,description,total_money_raised,offices
0,52cdef7c4bab8bd675297e30,GoingOn,software,40.0,2008,Private Academic Networks,$8.5M,"[{'description': 'GoingOn Networks, Inc.', 'ad..."
1,52cdef7c4bab8bd675297ee1,Cloudant,enterprise,70.0,2008,NoSQL database managed service,$18.3M,"[{'description': '', 'address1': '129 South St..."
2,52cdef7c4bab8bd675297f76,Crunchyroll,games_video,50.0,2008,Digital Entertainment and Media Platform,$4.8M,"[{'description': '', 'address1': '', 'address2..."
3,52cdef7c4bab8bd675297f94,PeekYou,search,20.0,2012,,$1.83M,"[{'description': None, 'address1': None, 'addr..."
4,52cdef7c4bab8bd675297f9e,GENWI,mobile,25.0,2010,Cloud Publishing for Mobile,$7.1M,"[{'description': '', 'address1': '4966 El Cami..."
...,...,...,...,...,...,...,...,...
190,52cdef7f4bab8bd67529c477,Testplant,software,50.0,2008,GUI test tool,$2.56M,"[{'description': 'TestPlant', 'address1': '6 S..."
191,52cdef7f4bab8bd67529c4c1,Homesnap,analytics,18.0,2008,online real estate broker,$5.5M,"[{'description': 'HQ', 'address1': '5335 Wisco..."
192,52cdef7f4bab8bd67529c4f0,Culture Jam,web,15.0,2008,Innovative Social Media Technology,$1.7M,"[{'description': '', 'address1': '2434 Lincoln..."
193,52cdef7f4bab8bd67529c5b8,Continuity Engine,software,11.0,2008,Crowdsource Banking,$7.84M,"[{'description': 'HQ', 'address1': '150 Munson..."
194,52cdef7f4bab8bd67529c6a0,Jelli,enterprise,12.0,2008,User-controlled radio,$16.6M,"[{'description': 'Jelli, Inc.', 'address1': '4..."

In [124]:
offices

0      [{'description': 'GoingOn Networks, Inc.', 'ad...
1      [{'description': '', 'address1': '129 South St...
2      [{'description': '', 'address1': '', 'address2...
3      [{'description': None, 'address1': None, 'addr...
4      [{'description': '', 'address1': '4966 El Cami...
                             ...
190    [{'description': 'TestPlant', 'address1': '6 S...
191    [{'description': 'HQ', 'address1': '5335 Wisco...
192    [{'description': '', 'address1': '2434 Lincoln...
193    [{'description': 'HQ', 'address1': '150 Munson...
194    [{'description': 'Jelli, Inc.', 'address1': '4...
Name: offices, Length: 195, dtype: object

In [122]:
latitude = []

for lista in offices:
    for i in range(len(offices)):
        for key,value in offices.items():
            if key == 'latitude':
                latitude.append(key['latitude'])

In [123]:
latitude

[]

In [74]:
df.to_csv('filtered_companies.csv')

In [75]:
myclient = MongoClient("mongodb://localhost/")
mydb = myclient["datlab"]
mycol = mydb["filtered_companies"]

In [16]:
map_city=folium.Map(location=[40.7221,-73.9712], zoom_start=12)

In [17]:
for company in query:
    for i in range(len(company['location'])):
        folium.Marker(company['location'][i]['coordinates'][::-1],
                        radius=2,
                        icon=folium.Icon(icon='cloud',color='red'), 
                       ).add_to(map_city)